if SHIELD_K04_MICRO_RIGHT

config ZMK_KEYBOARD_NAME
    default "EH K04 Micro"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

endif

if SHIELD_K04_MICRO_LEFT

config ZMK_KEYBOARD_NAME
    default "EH K04 Micro"

endif

if SHIELD_K04_MICRO_LEFT || SHIELD_K04_MICRO_RIGHT

config ZMK_SPLIT
    default y

endif
